@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";


@mapCellWidth: 62px;
@mapCellHeight:58px;
@assetWidth: 64px;
@assetHeight: 75px;


#map {
  overflow:auto;
  border:1px solid #DDD;
  background-color: #EEE;
  padding-top:10px;
  height:500px;
  ul {
    list-style: none;
    margin:0;
    padding:0;
  }
}

.mapRows {
  width: @mapCellWidth * 16;
  padding:10px;
  background:#EEE url('../img/terrains/base.png') repeat 0px 0px;
}

.mapRow {
  width: @mapCellWidth;
  display: inline-block;
}

.mapCell {
  width: @mapCellWidth;
  height: @mapCellHeight;
  position:relative;
  overflow:visible;
  text-align: center;
  //border:1px solid #F00;
}

.mapCellLink {
  position: absolute;
  width: @mapCellWidth;
  height: @mapCellHeight;
  top:0px;
  left:0px;
  z-index:30;
}

.unitAsset, .terrainAsset, .buildingAsset {
  position: absolute;
  left:0px;
  height: @assetHeight;
  width: @assetWidth;
  border-width: 0px;
  max-width: none !important; 
}

.terrainAssetToolbar, .unitAssetToolbar {
  height: 37px;
  width: 32px;
  max-width: none !important; 
}

.toolBar {
  list-style: none;
  padding:0;
  margin:0;
}

.tool {
  margin-bottom: 5px;
}

.selectedTool {
  background-color: #EEE;
}

.unitAsset {
  z-index:20;
  bottom:-5px;
}

.buildingAsset {
  z-index:15;
  bottom:-8px;
}

.terrainAsset {
  z-index:10;
  bottom:-8px;
}
