<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="mapEdit"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


        <link rel="stylesheet/less" type="text/css" href="css/meta.less" />
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="mapController">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="container">
          <div class="row">
            <div class="span10 offset2">
              <h1>Map Maker</h1>
            </div>
            <div class="span1">
              <h3>Terrains</h3>
              <ul class="toolBar">
                <li class="tool">
                  <a ng-click="selectTerrain('none');" ng-class="{selectedTool: selectedTerrain=='none'}">
                    Remove Terrain
                  </a>
                </li>
                <li ng-repeat="terrain in terrains" class="tool" ng-class="{selectedTool: terrain.id==selectedTerrain}">
                  <a ng-click="selectTerrain(terrain.id);" title="{{terrain.label}}">
                    <img ng-src="{{terrain.art[0]}}" class="terrainAssetToolbar" />
                  </a>
                </li>
              </ul>

              <h3>Buildings</h3>
              <ul class="toolBar">
                <li class="tool">
                  <a ng-click="selectBuilding('none');" ng-class="{selectedTool: selectedBuilding=='none'}">
                    Remove Building
                  </a>
                </li>
                <li ng-repeat="building in buildings" class="tool" ng-class="{selectedTool: building.id==selectedBuilding}">
                  <a ng-click="selectBuilding(building.id);" title="{{building.label}}">
                    <img ng-src="{{building.art[0]}}" class="terrainAssetToolbar" />
                  </a>
                </li>
              </ul>
            </div>
            <div class="span1">
              <h3>Units</h3>
              <ul class="toolBar">
                <li class="tool">
                  <a ng-click="selectUnit('none');" ng-class="{selectedTool: selectedUnit=='none'}">
                    Remove Unit
                  </a>
                </li>
                <li ng-repeat="unit in units" ng-class="{selectedTool: unit.id==selectedUnit}">
                  <a ng-click="selectUnit(unit.id);" title="{{unit.label}}">
                    <img ng-src="{{unitAssetPath}}/{{selectedFaction}}/{{unit.art.right}}" class="unitAssetToolbar" />
                  </a>
                </li>
              </ul>
              <h3>Factions</h3>
              <ul class="toolBar">
                <li class="tool">
                  <a ng-click="selectedFaction = 0;" ng-class="{selectedTool: selectedFaction==0}">
                    Green
                  </a>
                </li>
                <li class="tool">
                  <a ng-click="selectedFaction = 1;" ng-class="{selectedTool: selectedFaction==1}">
                    Purple
                  </a>
                </li>
              </ul>
            </div>
            <div class="span10">
              <div id="map">
                <ul class="mapRows">
                  <li ng-repeat="row in map" class="mapRow">
                    <ul class="mapCells">
                      <li ng-repeat="cell in row" class="mapCell">
                        <img class="terrainAsset" ng-src="{{terrains[cell.terrain].art[cell.terrainVariant]}}" ng-hide="cell.terrain == 'none'" />
                         <img class="buildingAsset" ng-src="{{buildings[cell.building].art[cell.buildingVariant]}}" ng-hide="cell.building == 'none'" />
                        <img class="unitAsset" ng-src="{{unitAssetPath}}/{{cell.unitFaction}}/{{units[cell.unit].art[cell.unitOrientation]}}" ng-hide="cell.unit == 'none'" />
                        <a ng-click="clickMapCell(cell.x,cell.y);" class="mapCellLink"></a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <h2>JSON</h2>
              <p>
                <textarea class="span9" rows="15" ng-Model="mapJson">
                </textarea>
              </p>
              <p>
                <button class="btn" ng-click="mapToJson();"><i class="icon-arrow-down"></i> Map to JSON</button>
                <button class="btn" ng-click="JsonToMap();"><i class="icon-arrow-up"></i>JSON to Map</button>
              </p>

              <h2>Saved Maps:</h2>
              <div ng-hide="user">
                <button class="btn" ng-click="login()"><i class="icon-user"></i> Login with GitHub</button>
              </div>
              <div ng-show="user">
                <input type="text" ng-model="mapName" placeholder="Map Name"> <button class="btn" ng-click="saveCurrentMap()"><i class="icon-arrow-down"></i> Save current map</button>
                <ul>
                  <li ng-repeat="map in maps"><a href="#" ng-click="loadMap(map)">{{map.name}}</a> - <a href="#" ng-click="deleteMap($index)">Delete map</a></li>
                </ul>
                <button class="btn" ng-click="logout()"><i class="icon-user"></i> Logout</button>
              </div>

            </div>
          </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/vendor/plugins.js"></script>
        <script src="js/vendor/less.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
        <script src="js/vendor/angularFire.js"></script>

        <script src="js/controllers.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
