<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="mapEdit"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


        <link rel="stylesheet/less" type="text/css" href="css/meta.less" />
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="mapController">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div class="topBar unselectable">
          <span>
            Title: <input ng-model="map.name" />
          </span>
          <span>
            Dimensions: <strong>{{map.data.length}}</strong> <a ng-click="addCollumn();" class="btn btn-mini btn-success">+</a><a ng-click="deletedCollumn();" class="btn btn-mini btn-danger">-</a> by <strong>{{map.data[0].length}}</strong> <a ng-click="addRow();" class="btn btn-mini btn-success">+</a><a ng-click="deleteRow();" class="btn btn-mini btn-danger">-</a>
          </span>
          <span>
            <a href="#loadSaveModal" role="button" class="btn btn-small" data-toggle="modal">Load &amp; Save</a>
            <a href="#jsonModal" role="button" class="btn btn-small" data-toggle="modal">JSON</a>
          </span>

        </div>

        <div class="toolBox">
          <div class="box">
            <h3>Terrains</h3>
            <ul class="toolBar unselectable">
              <li class="tool" ng-class="{selectedTool: selectedTerrain=='none'}">
                <a ng-click="selectTerrain('none');">
                  <i class="icon-remove icon-white"></i>
                </a>
              </li>
              <li ng-repeat="terrain in terrains" class="tool" ng-class="{selectedTool: terrain.id==selectedTerrain}">
                <a ng-click="selectTerrain(terrain.id);" title="{{terrain.label}}">
                  <img ng-src="{{terrain.art[0]}}" class="terrainAssetToolbar" />
                </a>
              </li>
            </ul>
          </div>

          <div class="box">
            <h3>Buildings</h3>
            <ul class="toolBar unselectable">
              <li class="tool" ng-class="{selectedTool: selectedBuilding=='none'}">
                <a ng-click="selectBuilding('none');" >
                  <i class="icon-remove icon-white"></i>
                </a>
              </li>
              <li ng-repeat="building in buildings" class="tool" ng-class="{selectedTool: building.id==selectedBuilding}">
                <a ng-click="selectBuilding(building.id);" title="{{building.label}}">
                  <img ng-src="{{building.art[0]}}" class="terrainAssetToolbar" />
                </a>
              </li>
            </ul>
          </div>

          <div class="box">
            <h3>Factions</h3>
            <ul class="toolBar unselectable">
              <li class="tool" ng-class="{selectedTool: selectedFaction==0}">
                <a ng-click="selectedFaction = 0;" class="playera">
                  A
                </a>
              </li>
              <li class="tool" ng-class="{selectedTool: selectedFaction==1}">
                <a ng-click="selectedFaction = 1;" class="playerb">
                  B
                </a>
              </li>
            </ul>
          </div>
          <div class="box">
            <h3>Units</h3>
            <ul class="toolBar unselectable">
              <li class="tool" ng-class="{selectedTool: selectedUnit=='none'}">
                <a ng-click="selectUnit('none');" >
                  <i class="icon-remove icon-white"></i>
                </a>
              </li>
              <li ng-repeat="unit in units" class="tool" ng-class="{selectedTool: selectedUnit==unit.id}">
                <a ng-click="selectUnit(unit.id);" title="{{unit.label}}">
                  <img ng-src="{{unitAssetPath}}/{{selectedFaction}}/{{unit.art.right}}" class="unitAssetToolbar" />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div id="map" class="unselectable">
          <ul class="mapRows">
            <li ng-repeat="collumn in map.data" class="mapRow">
              <ul class="mapCells">
                <li ng-repeat="cell in collumn" class="mapCell">
                  <img class="terrainAsset" ng-src="{{terrains[cell.terrain].art[cell.terrainVariant]}}" ng-hide="cell.terrain == 'none'" />
                   <img class="buildingAsset" ng-src="{{buildings[cell.building].art[cell.buildingVariant]}}" ng-hide="cell.building == 'none'" />
                  <img class="unitAsset" ng-src="{{unitAssetPath}}/{{cell.unitFaction}}/{{units[cell.unit].art[cell.unitOrientation]}}" ng-hide="cell.unit == 'none'" />
                  <a ng-click="clickMapCell(cell.x,cell.y);" class="mapCellLink"></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>


        <!-- Modal -->
        <div id="loadSaveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Load &amp; Save</h3>
          </div>
          <div class="modal-body">
            <div ng-hide="user">
              <button class="btn" ng-click="login()"><i class="icon-user"></i> Login with GitHub</button>
            </div>
            <div ng-show="user">
              <button class="btn" ng-click="saveCurrentMap()"><i class="icon-arrow-down"></i> Save {{map.name}}</button>
              <ul>
                <li ng-repeat="(mapId, map) in maps"><a href="#" ng-click="loadMap(map)">{{map.map.name}}</a> - <a href="?m={{user.username}}/{{mapId}}">Perma Link</a> - <a href="#" ng-click="deleteMap($index)">Delete map</a></li>
              </ul>
              <button class="btn" ng-click="logout()"><i class="icon-user"></i> Logout</button>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>

        <div id="jsonModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">JSON Import &amp; Export</h3>
          </div>
          <div class="modal-body">
            <p>
              <textarea rows="15" class="span6" ng-Model="mapJson">
              </textarea>
            </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="mapToJson();"><i class="icon-arrow-down icon-white"></i> Map to JSON</button>
            <button class="btn btn-warning" ng-click="JsonToMap();"><i class="icon-arrow-up icon-white"></i>JSON to Map</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>



        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/vendor/plugins.js"></script>
        <script src="js/vendor/less.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
        <script src="js/vendor/angularFire.js"></script>

        <script src="js/controllers.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
